<header>
  <h1 class="text-center"><img src="images/whatsbetter.png" alt=""></h1>
</header> 

<form action="query-form" method="get" class="query-form">

  <div class="box-wrapper">
    <div class="vs box-shadow"><p>vs</p></div>
    <div class="text-box box-shadow text-center">
      <input class="term1" name="term1" type="text" placeholder="<%= @samples.first %>">

      <!-- DISPLAY WINNER -->
      <div class="content-title">
        <h2></h2>

        <div class="tweeted-about">
          <p>is tweeted about</p>
        </div>

        <div class="stats">
          <div class="num">
            <h3></h3>
          </div>
          <div class="times-per">
            <p>TIMES PER</p>
          </div>
          <div class="unit">
            <h4></h4>
          </div>
        </div>
      </div>

    </div>
    <div class="input-spacer text-center"></div>
    <div class="text-box box-shadow text-center">
      <input class="term2" name="term2" type="text" placeholder="<%= @samples.last %>">

      <!-- DISPLAY LOSER -->
        <div class="content-title">
        <h2></h2>

        <div class="tweeted-about">
          <p>is tweeted about</p>
        </div>

        <div class="stats">
          <div class="num">
            <h3></h3>
          </div>
          <div class="times-per">
            <p>TIMES PER</p>
          </div>
          <div class="unit">
            <h4></h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="btn-wrapper text-center">
    <input class="results-btn" type="submit" value="get results"/>
    <a href="/"><div class="again-btn">again!</div></a>
    <br><a href="#" data-toggle="modal" data-target="#about-whats-better" class="about-link">about What's Better</a>
  </div>

</form>

<!-- Modal -->
<div class="modal fade" id="about-whats-better" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog text-center">

    <div class="modal-header">
      <h2>What's Better was made with &#9825; by these guys:</h2>
    </div>

    <a href="https://github.com/bajh">
      <div class="maker-holder">
        <div class="maker-img">
          <img src="http://ruby005.students.flatironschool.com/img/students/brandonh_profile.jpg" alt="Brandon Hopkins">
        </div>
        <span>Brandon Hopkins</span>
      </div>
      </a>
    <a href="https://github.com/jbarrieault">
      <div class="maker-holder">
        <div class="maker-img">
          <img src="http://ruby005.students.flatironschool.com/img/students/jacob_barrieault_profile.jpg" alt="Jacob barrieault">
        </div>
        <span>Jacob Barrieault</span>
      </div>
    </a>
    <a href="http://mitchboyer.com">
      <div class="maker-holder">
        <div class="maker-img">
          <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10250217_10205440872888016_4459544400865091301_n.jpg?oh=d1e0e7fb59cfc77824f554d79a344e94&oe=551E41F3&__gda__=1427416549_b412b478e353c30c9c0967ae23b64b40" alt="Mitch Boyer">
        </div>
        <span>Mitch Boyer</span>
      </div>
    </a>

  </div>
</div>